# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
ENV/
venv.bak/
env.bak/


# Environment variables
.env

# IDE files
.vscode/
.idea/

# PyCharm specific


# macOS specific
.DS_Store

# Windows specific
Thumbs.db
